section, header, nav{
    background-color: #f0d69e;
    width: 85%;
    font-family: 'Josefin Slab', serif;
}
.font-size20 {
    font-size: 20px;
    color: rgb(150, 38, 38);
    font-family: 'Josefin Slab', serif;
}

.font-size30 {
    font-size: 30px;
    color: maroon;
}


.landscabe-img {
    width: 200px;
    border: 3px solid #4B0082;
}

nav {
    align-content: center;
}



