section, header, nav{

    color: rgb(71, 51, 7);
    font-family: 'Josefin Slab', serif;
    margin: auto;
    width: 1500px;
}
h1, h2{
    color: maroon;
    clear: both;

}

.img {
    width: 250px;
    border: 5px solid maroon;
}

header{
    font-family: cursive;
    font-size: 100px;
    color: maroon;
    padding-top: 50px;
}
hr{
    color: saddlebrown;
    border:solid;
    height: 5px;
    width: 90%;
}

li, p, nav{
    font-size: 30px;
}
h1{
    font-size: 50px;
}

ul {
    list-style-type: none;
}

a[href] {
    color:maroon
}

a[href]:active{
    color:rgb(47, 4, 87)
}

a[href]:hover{
    color:rgb(47, 4, 87)
}

h2::first-letter{
    font-size: 60px;
    font-family: cursive;
    border: solid 1px rgb(71, 51, 7);
    padding-right: 15px;
    padding-top: 15px;
}

.conteiner {
   
    width: 1500px;
    height: auto;
    margin: auto;
    background-color: #f0d69e;
    text-align: center;
    padding: 0px 20px 20px 0px;
    
}

.content{
    width: 90%;
    height: auto;
    border: saddlebrown solid;
    float: left;
    margin: 4%;
    text-align: center
}


.box{
    width: 30%;
    height: 800px;
    border: saddlebrown solid;
    float: left;
    margin-top: 20px;
    margin-left: 30px;
    margin-bottom: 50px;
    text-align: center
}

